<!DOCTYPE html>
<html lang="pl" class="theme-dark">
<head>
    <meta charset="UTF-8">
    <title>RVS_KMS {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma.min.css') }}">
    <style>
        #content {
            margin: 1em;
            overflow-x: auto;
        }
        pre {
            overflow-x: auto;
            padding: 0.5em;
        }
        {% if path != '/' %}
        div.backtohome {
            display: flex;
            justify-content: center;
        }
        {% endif %}
        {% block style %}{% endblock %}
    </style>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}

        {% if path != '/' %}
        <div class="block backtohome">
            <a class="button is-normal is-responsive" href="/">
                Wróć do strony głównej
            </a>
        </div>
        {% endif %}
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>RVS_KMS (LAN)</strong> jest dostępny od <span class="convert_timestamp">{{ start_time }}</span>.
                Ta strona została wyświetlona {{ get_serve_count() }} razy.
                <br>Ten serwer używa wersji rvs_kms-next bazowanej na py-kms-organization/py-kms:python3-next.
                <br>Stylesheet: github.com/jgthms/bulma (bulma.min.css)
            </p>
        </div>
    </footer>

    <script>
        for(let element of document.getElementsByClassName('convert_timestamp')) {
            element.innerText = new Date(element.innerText).toLocaleString();
        }
    </script>
</body>
</html>
