{% extends 'base.html' %}

{% block title %}clients{% endblock %}

{% block style %}
th {
    white-space: nowrap;
}
{% endblock %}

{% block content %}
{% if error %}
<article class="message is-danger">
    <div class="message-header">
        Wystąpił nieznany błąd, spróbuj odświeżyć stronę...
    </div>
    <div class="message-body">
        {{ error }}
    </div>
</article>
{% else %}
<nav class="level">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Klienci</p>
            <p class="title">{{ count_clients }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Systemy Windows</p>
            <p class="title">{{ count_clients_windows }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Pakiety Office</p>
            <p class="title">{{ count_clients_office }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Produkty</p>
            <p class="title"><a href="/products">{{ count_projects }}</a></p>
        </div>
    </div>
</nav>

<hr>

{% if clients %}
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>ID Klienta</th>
            <th>Nazwa Maszyny</th>
            <th>ID Aplikacji</th>
            <th><abbr title="Stock Keeping Unit">SKU</abbr> ID</th>
            <th>Status Licencji</th>
            <th>Ostatnio Odświeżony</th>
            <th>KMS <abbr title="Enhanced Privacy ID">EPID</abbr></th>
            <th>Ostatnio Widziany</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <th><pre class="clientMachineId">{{ client.clientMachineId }}</pre></th>
            <td class="machineName">
                {% if client.machineName | length > 16 %}
                <abbr title="{{ client.machineName }}">{{ client.machineName | truncate(16, True, '...') }}</abbr>
                {% else %}
                {{ client.machineName }}
                {% endif %}
            </td>
            <td>{{ client.applicationId }}</td>
            <td>{{ client.skuId }}</td>
            <td>{{ client.licenseStatus }}</td>
            <td class="convert_timestamp">{{ client.lastRequestTime }}</td>
            <td>
                {% if client.kmsEpid | length > 16 %}
                <abbr title="{{ client.kmsEpid }}">{{ client.kmsEpid | truncate(16, True, '...') }}</abbr>
                {% else %}
                {{ client.kmsEpid }}
                {% endif %}
            </td>
            <td>{{ client.requestCount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<article class="message is-warning">
    <div class="message-header">
        <p>Coś wygląda nie tak?</p>
    </div>
    <div class="message-body">
        Ta strona wygląda na pustą, być może dlatego że nie ma żadnych klientów? Spróbuj użyć serwer z kompatybilnym klientem aby go dodać do bazy danych.
    </div>
</article>
{% endif %}
{% endif %}
{% endblock %}
